
{% load static %}
<!DOCTYPE html>
<html>
<style>
body {
  background-image: url("{% static 'travel.jpg' %}");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  display: block;
  margin-top: 4em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

</style>
<body>
	
<p style="text-align:center;font-size:200%;font-style:oblique">The world is a book, and those who do not travel read only one page</p>

<!--

<h1 style="text-align:center">The world is a book, and those who do not travel read only one page</h1>

-->

</body>
</html>
